@font-face {
    font-family: 'Billabong';
    src: url('FontsFree-Net-Billabong.ttf') format('woff2'),
         url('FontsFree-Net-Billabong.ttf') format('woff');
}
body {
    background: linear-gradient(to right #E4A5FF, #9288F8, #D7BBF5);

}
header{
    margin-top: 50px;
}
header .container-fluid{
    justify-content: space-between;
    margin: 20px;
}
h1 {
    font-family: 'Billabong', cursive;
    padding-left: 100px;
    padding-top: 50px;
    font-size: 50px;
}
#ig{
    width: 70px;
    height: 70px;
    border-radius: 40%;
}
#Home{
    width: 45px;
    height: 42px;
    border-radius: 50%;
}
#Profile{
    width: 50px;
    border-radius: 50%;
}
#Concert{
    height: 45px;
    width: 45px;
    border-radius: 45%;
}
#About{
    height: 45px;
    width: 50px;
    border-radius: 50%;
}
#husband, #ben, #lola, #jroa, #eph, #al{
    width: 185px;
    height: 185px;
    border-radius: 50%;
}
@media (max-width:425px){
  video, .container, .container-fluid{
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }
   button{
    border-radius: 100%;
  }
  }
#zack, #ave, #nery, #flow, #moi, #mori, #kz, #angge, #sb, #zoo{
    width: 200px;
    height: 200px;
}
p{
    font-size: xx-large;
    font-weight: bolder;
    color: black;
}
#husband:hover{
    transform: scale(1.5);
}
#ben:hover{
    transform: scale(1.5);
}
#lola:hover{
    transform: scale(1.5);
}
#jroa:hover{
    transform: scale(1.5);
}
#zack:hover{
    transform: scale(1.5);
}
#ave:hover{
    transform: scale(1.5);
}
#nery:hover{
    transform: scale(1.5);
}
#flow:hover{
    transform: scale(1.5);
}
#search{
   width: 500px;
   margin-right: 200px;
}
#moi:hover{
    transform: scale(1.5);
}
#mori:hover{
    transform: scale(1.5);
}
#kz:hover{
    transform: scale(1.5);
}
#angge:hover{
    transform: scale(1.5);
}
#eph:hover{
    transform: scale(1.5);
}
#al:hover{
    transform: scale(1.5);
}
#moon:hover{
    transform: scale(1.5);
}
#sarah, #ogie, #reg, #rey, #moon, #imago, #sbord, #cuesh {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
#sarah:hover{
    transform: scale(1.5);
}
#ogie:hover{
    transform: scale(1.5);
}
#reg:hover{
    transform: scale(1.5);
}
#rey:hover{
    transform: scale(1.5);
}
#cuesh:hover{
    transform: scale(1.5);
}
#sb:hover{
    transform: scale(1.5);
}
#zoo:hover{
    transform: scale(1.5);
}
#karaoke:hover{
    transform: scale(1.2);
}
#sbord:hover{
    transform: scale(1.2);
}
#Hillsong:hover{
    transform: scale(1.2);
}
#karaoke, #Hillsong{
    width: 250px;
    height: 250px;
    border-radius: 10%;
}
#Search{
    width: 200px;
}
img{
    max-width: 100%;
}
video{
    width: 1300px;
    height: 400px;
}
.form{
    display: flex;
    flex-direction: column;
}
#nimo, #bb, #alisson, #east, #alj, #roa, #amo, #alc, #moonstar, #regine, #reyv, #sborder, #cueshe{
    border-radius: 90%;
    background-color: rgba(128, 128, 128, 0.315);
}
div .modal-content{
    background-color: rgba(202, 221, 221, 0.526);
}
div .text-overlay{
    color: black;
    font-weight: 20px;
    font-size: x-large;
}
div .modal-title{
    align-items: center;
}
audio{
    width: 100px;
    height: 30px;
    margin: 5px;
}
#alam{
    margin-left: 180px;
}
#ikot{
    margin-left: 150px;
}
#tala{
    margin-left: 190px;
}
#forever{
    margin-left: 10px
}
#moira, #sette, #tandi, #angel, #tab, #deca, #art, #gwolf, #sb19, #ibz{
    background-color: rgba(233, 227, 227, 0.194);
}
footer, .footer{
    margin-bottom: 50px;
    text-align: center;
    font-size: small;
    margin: 20px auto auto auto;
}
button{
    padding: 5px 5px 5px 5px;
}
.column{
    justify-content: space-between;
}
#fb, #twit, #yt{
    width: 20px;
    height: 20px;
}